#passwordChanged {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  h1 {
    color: $color-primary;
    font-size: 20px;
  }
  p {
    color: $color-quaternary;
    font-size: 16px;
    margin-bottom: 0;
  }
  #smile {
    color: $color-secondary;
    font-size: 20px;
  }
  $width: 70;
  $color: $color-secondary;

  .ball-loader {
    width: $width + 0px;
    height: ($width / 3) - 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .ball-loader-ball {
    will-change: transform;
    height: ($width / 3) - 10px;
    width: ($width / 3) - 10px;
    border-radius: 50%;
    background-color: $color;
    position: absolute;
    animation: grow 1s ease-in-out infinite alternate;

    &.ball1 {
      left: 0;
      transform-origin: 100% 50%;
    }
    &.ball2 {
      left: 50%;
      transform: translateX(-50%) scale(1);
      animation-delay: 0.33s;
    }
    &.ball3 {
      right: 0;
      animation-delay: 0.66s;
    }
  }

  @keyframes grow {
    to {
      transform: translateX(-50%) scale(0);
    }
  }
}
.emailChangePassword {
  color: $color-primary;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.subtitleChangePassword {
  color: $color-quaternary !important;
  font-size: 15px !important;
  line-height: 20px !important;
}
#mailSend {
  display: none;
  width:85%;
  margin:auto;
  text-align: center;
  margin-top:180px;
  p {
    color:$color-primary
  }
  a {
    color:$color-secondary
  }
}
#return {
  cursor: pointer;
}
