header {
  #logoSupport {
    max-width: 200px;
  }
  #titleSupport {
    font-size: 40px;
  }
}
.textSupport {
  width: 85%;
  margin: auto;
  margin-top: 40px;
  p {
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
  }
  #ps {
    font-size: 16px;
    color: $color-secondary;
  }
}

.supportForm {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 85%;
  margin: auto;
  margin-bottom: 50px;
  label {
    color: $color-primary;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  .input {
    height: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px rgba(255, 255, 255, 0.7) solid;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    padding: 0 10px;
    font-family: "caviar";
    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
    &:focus-visible {
      outline: 1px solid transparent;
      border: 3px #4fd1c5 solid;
      border-radius: 7px;
    }
  }
  textarea {
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px rgba(255, 255, 255, 0.7) solid;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    padding: 0 10px;
    font-family: "caviar";
    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
    &:focus-visible {
      outline: 1px solid transparent;
      border: 3px #4fd1c5 solid;
      border-radius: 7px;
    }
  }
  #buttonSupport {
    min-width: calc(190px + 12px);
    max-width: 200px;
    font-size: 16px;
    min-height: 48px;
  }
}
