@font-face {
  font-family: "crooked";
  src: url("/assets/css/fonts/Crooked.ttf") format("truetype");
}
@font-face {
  font-family: "caviar";
  src: url("/assets/css/fonts/CaviarDreams.ttf") format("truetype");
}
@font-face {
  font-family: "digital";
  src: url("/assets/css/fonts/digital-7.ttf") format("truetype");
}
