body {
  /* background-image: url("/assets/images/wallpaper.jpg"); */
  background-color: #94254B;
  background-attachment: fixed;
  background-size: cover;
  font-family: "caviar";
  height: 100%;
}

html {
  height:100%;
}
